fail_fast: false

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        types: [python]
        verbose: true
        entry: bash -c 'ruff check "$@" || true' --
      - id: ruff-format
        types: [python]
